body {
  background-image: url('C:/Users/Baneen Natasya/Desktop/Work/WEBSITE/My%20Website/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
